* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}

#admin-container {
    display: flex;
    height: 100vh; 
}

#side-menu {
    width: 250px; 
    min-height: 100vh; 
    padding: 30px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
}

#content {
    flex-grow: 1; 
    padding: 30px;
    overflow-y: auto; 
}

.menu-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #e7e7e7;
    transition: background-color 0.3s;
    text-align: center; 
}

.menu-item:hover {
    background-color: #ddd;
}

.form-style {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label,
.input-group input,
.input-group button {
    display: block;
    width: 100%;
}

.input-group input,
.input-group button {
    padding: 10px;
    margin-top: 5px;
}

.input-group button {
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 30px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.input-group button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.text-active {
    color: white; 
}
